extends layout

block content
  h1 Find your class schedule at SDSU!
  p Select your class below to see its current schedule.
  #wrapper
    #trainList
      h2 Class
      #trains.d-flex.flex-row
    #trainInfo
      strong  <span id='trainName'></span>
      #trainSchedule
        strong Select a class to view its current schedule.